body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif !important;
    background: white !important;
}
/* *{
    box-sizing: unset !important;
} */

*{
    outline: none;
}

.large_box{
    margin: 0px;
outline: 0px;
width: 100vw;

max-width: 100%;
}

.larg_box_two{
    height: 100%;
display: flex;
justify-content: space-between;
margin: 0px;

}


.left_nav{
    margin-left: 0px;
    text-align: center;
    padding-top: 55px;
    border-right: 1px solid #6f6e6e45;
    padding-left: 15px;
    padding-right: 15px;

}
.left_nav div{
    position: sticky;
top: 55px;
}
.image_log {
    margin-bottom: 94px;

}
.image_log img {
    width: 45px;
}

.icon_nav {
    margin-top: 26px;
color: #000000a6;
cursor: pointer;
}

.icon_nav:focus-visible {
    border: none;
}

.icon_nav:hover {
    color: #5a58586b;
}
.left_nav span{
    margin: 23px 0px -1px 0px;
    border-bottom: 1px solid #0000004f;
    width: 35px;
    display: inline-block;
}
.user_image{
    width: 45px;
height: 45px;
overflow: hidden;
margin-left: auto;
margin-right: auto;
margin-top: 50px;
border: none;
border-radius: 50%;
cursor: pointer;

}


.user_image img{
    width: 50px;
}

.right_nav{
    border-left: 1px solid rgba(83, 83, 83, 0.377);
max-width: 25%;
font-family: 'Libre Franklin', sans-serif;
padding-top: 80px;
padding-right: 10px;
padding-left: 10px;

}

.search_input{
    text-align: center;
}

.search_input form input{
    height: 35px;
    width: 85%;
border-radius: 15px;
border: 1px solid #3c3a3a36;
padding-left: 39px;
font-family: revert;
}
.search_input form{
    position: relative;
}
.search_input form button  {
    position: absolute;
    left: 22px;
border: none;
background: transparent;
}
.recommended{
    margin: 58px 0px 0px 0px;
}
.recommended .title{
    margin-left: 25px;
    margin-bottom: 20px;

}

.recommended .line{
    width: 90%;
border-top: 1px solid #4a4a4a3d;
margin-bottom: 20px;
}
 .boxes_information {
    display: flex;
flex-wrap: wrap;
align-items: center;
margin-bottom: 50px;
}

 .boxes_information span{
    padding: 5px 10px;
color: rgba(0,0,0,0.8);
background-color: rgb(242, 242, 242);
margin: 5px 5px;
border-radius: 13px;
}

.follw {
    margin-left: 13px;
}
.follw .cont{
    display: flex;
justify-content: space-between;
margin: 25px 0px;
}
.follw .cont .image{
    width: 50px;
height: 50px;
overflow: hidden;
border-radius: 50%;
}
.follw .cont .image img{
    width: 50px;
}
.follw .cont .cont_title{
    width: 77%;
}

.follw .cont .cont_title span:first-child{
    display: block;
font-weight: bold;
}

.follw .cont .cont_title span:last-child{
    max-height: 40px;
text-overflow: ellipsis;
overflow: hidden;
-webkit-line-clamp: 2;
-moz-box-orient: vertical;
display: -webkit-box;
margin-right: 5px;
}

.middle_body{
   width: 700px;
    margin-left: auto;
margin-right: auto;
margin-top: 80px;
padding-top: 20px;
border-top: 1px solid #0000001c;
/* font-family: 'Libre Franklin', sans-serif; */
}
.nav_pro{
    position: sticky;
top: -200px;
}

.box-post{
    margin-top: 10px;
margin-bottom: 10px;
padding-bottom: 30px;
border-bottom: 1px solid #3e3c3c47;
width: 100%;
}
.box-post .box-title{
    display: flex;
align-items: center;
}

.box-title .box-image{
    display: inline-block;
width: 30px;
height: 30px;
border-radius: 50%;
overflow: hidden;
margin-right: 20px;
}
.box-title span:first-child{
    margin-left: 20px;
}

.box-title span:last-child{
    color: #5b5a5a96;
    margin-left: 10px;
}

.box-image img{
    width: 40px;
}

.box-body a{
    display: inline-flex;
justify-content: space-between;
margin-top: 20px;
margin-left: 5px;
width: 100%;
color: #636b6f;
text-decoration: none;
cursor: pointer;
}
.box-body a:hover{
    text-decoration: none;
    color:  #636b6f;
}

.box-body a .box-body-right{
    width: 14%;
height: 100px;
overflow: hidden;
}
a  .box-body-right img{
    width: 100px;
}
a .box-body-lef .title{
    margin-bottom: 10px;
font-weight: bold;
font-size: 20px;
color: rgb(41, 41, 41);
-webkit-box-orient: vertical;
display: -webkit-box;
text-overflow: ellipsis;
overflow: hidden;
-webkit-line-clamp: 1;
height: auto;
}

a .box-body-lef{
    width: 82%;
}
a .box-body-lef .body{
    -webkit-line-clamp: 3;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;

}

.box-footer{
    display: inline-flex;
justify-content: space-between;
width: 85%;
margin-top: 20px;
}
.box-footer-left{
    color: #444343bd;
}

.box-footer-left .tag-name{
    padding: 5px 10px;
background-color: rgb(242, 242, 242);
border-radius: 14px;
margin-right: 10px;
}
.box-footer-right svg:first-child{
    margin-right: 10px;
}

.middle_body .div{
    display: inline-flex;
align-items: center;
justify-content: space-between;
width: 100%;
margin-bottom: 25px;
}
.middle_body .div .hid{
    font-size: 40px;
font-weight: bold;
}
.middle_body .div a{
    text-decoration: none;
color: white;
background-color: #3C6382;
padding: 10px;
border-radius: 19px;
font-weight: bold;
}

.middle_body .div a .span{
    padding: 5px 10px;
margin: 5px;
}
.list_main_bar{
    display: flex;
margin-bottom: 20px;
box-shadow: rgb(230, 230, 230) 0px -1px 0px inset;
}

.list_main_bar span{
    margin-right: 20px;
padding-bottom: 15px;
}
.activ-list-main-bar{
    border-bottom: 1px solid black;
}

.list-main{
    width: 100%;
}

.list-main .list-main-one{
    display: inline-flex;
align-items: center;
background: #3C6382;
padding: 10px;
width: 100%;
border-radius: 10px;
color: white;
height: 170px;
}
.list-main .list-main-one .title{
    width: 48%;
}

.list-main .list-main-one .icon {
    color: white;
}
.list-main-number{
    display: flex;
align-items: center;
justify-content: space-between;
margin-top: 30px;
width: 100%;
background-color: #f2f2f2;
padding: 10px;
border-radius: 10px;
}
.list-main-number .list-left .title{
    font-size: 30px;
height: 100%;
}

.list-main-number .list-left .buttom-list .view-list{
    margin-top: 20px;
margin-left: 20px;
padding: 10px 20px;
text-align: center;
background: #3C6382;
color: white;
border-radius: 5px;
cursor: pointer;
}
.list-main-number .list-left .buttom-list .delet-list{
    margin-top: 20px;
margin-left: 20px;
padding: 10px 20px;
text-align: center;
background: #db1730;
color: white;
border-radius: 5px;
cursor: pointer;
}
.buttom-list{
    display: flex;
}

.cont-editor{
    width: 100%;
}

.cont-editor .nav-ed{
    display: inline-flex;
align-items: center;
justify-content: space-between;
width: 98%;
margin-left: auto;
margin-right: auto;
margin-top: 15px;
font-family: 'Libre Franklin', sans-serif;
padding-bottom: 20px;
border-bottom: 1px solid #00000047;
}

.cont-editor .nav-ed .editor-left{
    display: flex;
align-items: center;
}
.editor-left svg{
    margin-right: 50px;
}

.editor-right{
    display: inline-flex;
align-items: center;
}

.editor-right .one{
    margin-right: 20px;
padding: 5px 10px;
background: #1a8917;
color: white;
border-radius: 50px;
cursor: pointer;
}

.editor-right .icons{
    margin-right: 20px;
}

.editor-right .photo{
    width: 40px;
height: 40px;
overflow: hidden;
border-radius: 20px;
}

.editor-right .photo img{
    width: 50px;
}

.main_user_bar{
    position: relative;
    display: none;
    font-family: 'Libre Franklin', sans-serif;
}
.main_user_bar_active{
    display: block;
}

.user_bar::before{
    content: "";
    width: 15px;
height: 15px;
position: absolute;
border-style: solid;
bottom: -8px;
left: 21px;
background: white;
border-width: 1px 1px 0px 0px;
border-color: #00000030;
border-radius: 2px;
transform: rotate(135deg);
}

.main_user_bar .user_bar{
    position: absolute;
    top: -296px;
    width: 201px;
background: white;
border: 1px solid #00000026;
border-radius: 5px;
text-align: left;
box-shadow: rgb(230, 230, 230) 0px 1px 4px;
left: -4px;
padding-bottom: 20px;
}

.user_bar_one{
    width: 100%;
}

.user_bar_one span{
    width: 100%;
margin-bottom: 10px;
border: none;
margin-top: 10px;
margin-left: 20px;
color: #000000c4;
transition: all 0.3s;
}
.user_bar_one span:hover{
    margin-left: 30px;
}

.user_bar_two{
    text-align: left;
}

.user_bar_two .one{
    display: inline-block;
width: 100%;
border: none;
margin-top: 7px;
margin-bottom: 7px;
margin-left: 20px;
color: #000000c4;
transition: all 0.3s;
}
.user_bar_two .one:hover{
    margin-left: 30px;

}

.user_bar .line{
    width: 90%;
border-top: 1px solid #00000040;
margin: 5px auto 5px auto;
}

.form-control
{
    padding: 0px 0px 0px 5px !important;
    margin-right: 5px;
}


.option-icon-list:hover{
color: white;
background-color: #007bff;
cursor: pointer;
border-radius: 2px;
}


.bootbox-close-button{
    background: transparent;
    border: none;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 0px;
 }

 .modal-dialog{
    max-width: 650px;
}
